body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card .badge {
  position: absolute;
  top: 20px;
  left: 20px;
}

main {
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1;
}

.border-top-2 {
  border-top: 2px solid rgba(0, 0, 0, 0.125);
}